[submodule "chapters/chapter-12/grab"]
	path = chapters/chapter-12/grab
	url = git@github.com:marceloboeira/grab.git
[submodule "chapters/chapter-13/grab"]
	path = chapters/chapter-13/grab
	url = git@github.com:marceloboeira/grab.git
[submodule "chapters/chapter-20/dull"]
	path = chapters/chapter-20/dull
	url = git@github.com:marceloboeira/dull.git
